*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
}
body{
    display: flex;
    background: linear-gradient(145deg, #1756e8, #709afb);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.conteiner_form{
    width: 100%;
    height: auto;
    border-radius: 10px;
    top: 50%;
    max-width: 600px;
    max-height: 500px;
    background-color: #cccccc;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: rgba(244, 242, 242, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.conteiner_form h3{
    padding: 10px;
    margin-bottom: 10px;
}
.input_login{
    padding: 10px;
    width: 100%;
    border: 1px solid silver;
    border-radius: 20px;
    margin: 5px;
    border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #caccd16c;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}
.input_login:focus{
    background-color: rgb(244, 243, 243);
  transform: scale(1.05);
  box-shadow: 8px 8px 50px #cccccc,
             -8px -8px 50px #ebebeb;
}
.button{
    margin-top: 8px;
    padding: 10px;
    width: 100%;
    border: 1px solid silver;
    border-radius: 15px;
    background-color: #2d447b;
    color: white;
}
.button:hover{
    background-color: #5d8dff;
    font-weight: bold;
}
.avatar{
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid silver;
    border-radius: 50%;
    background-color: #fcf7f7;
}

@media (max-width:768px){
    .conteiner_form{
        margin: 20px;
        padding: 10px;
    }
}
