*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;

    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body.dark{
    background-color: #2c2c2c;
}
body.dark .card{
    background-color: #3f3f3f;
    color: white;

}
.titulo{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: #590dcc;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.titulo h1,h3{
    margin: auto;
}
.btn-moon {
  background: none;    /* sin fondo */
  border: none;        /* sin borde */
  cursor: pointer;     /* mano al pasar */
  padding: 10px;
}

.btn-moon i {
  font-size: 2rem;     /* tamaño del ícono */
  color: white;        /* color del ícono */
  transition: color 0.3s ease, transform 0.3s ease;
}

.gauge{
    margin-top: 30px;
    text-align: center;
}
#g2, #g3, #g4 {
    width:100px; 
    height:80px;
    display: inline-block;
    margin: 1rem;
}
.titulo_secundario{
    width: 100%;
    max-width: 1080px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
}
h3{
    background-color: #590dcc;
    border-top-left-radius: 8px;
    border-top-right-radius:8px ;
    color: white;
    padding: 10px;   
    margin: 0;
}
body.dark #char{
    color: white;
    background-color: #3f3f3f;
}
.btn-moon:hover i {
  color: yellow;       /* cambia color */
  transform: scale(1.2);
}


.conteiner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    /*max-height: 200px;*/
    border-radius: 8px;
    box-shadow: none !important;
    /*box-shadow: 0 0 30px #0006;*/
} 
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset
}
.card span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding: 10px;
    margin: auto;
    width: 70px;
    height: 70px;
}
.bi{
    font-size: 30px;

}
.bi-heart-pulse-fill{
    color: red;
}
.bi-thermometer-half{
    color: rgb(114, 108, 108);
}
.content{
    text-align: center;
    padding: 30px;
}
#chart{
    border-radius: 8px;
    width: 100%;
    height: 200px;
    background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset
}

.content h5{
    font-weight: 900;
}
.heart{
    animation: latido 1s infinite;
}
.apexcharts-tooltip{
    background-color: red;
}
@media (min-width: 1024px) {
  #chart {
    height: 200px;
  }
}
@media (max-width:768px){
    .card{
        flex-direction: column;
    }
    .titulo_secundario{
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .logo-titulo h1{
        font-size: 30;
    }
    #chart, .titulo_secundario{
        height: 200px;
    }
}

/*@media (min-width:1025px){
    .card{
        width:250px;
        height: 250px;
    }
    #chart{
        max-width: 1400px;
    }
}*/
@keyframes latido{
    0%{
        transform: scale(1);
    }
    15%{
        transform: scale(1.1);
    }
    
}
.logo{
    padding: 10px;
    margin-top: 10px;

}
.logo-titulo{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.corazon-tooltip {
  font-size: 15px !important;
  margin-left: 4px;
  display: inline-block;
  color: rgb(231, 29, 29);
  animation: pulseHeart 1s infinite;
}
.titulo_secundario {
    color: white;
    padding: 10px;
}

@keyframes pulseHeart {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}
.navbar{
    background-color: #7b34e6 !important;
    border: 1px solid white ;
    border-radius: 10px;
    padding: 18px;
    margin: 10px;
    margin-bottom: 9px;
}
.navbar a{
    color: white;
    padding: 6px;
    margin: 10px;
    
}
.navbar .nav-link{
    font-weight: bold;
    color: whitesmoke;

}
.navbar a:hover{
    color: #ddd;
}
.avatar {
    border-radius: 50%;
    background-color: white;
    border: 3px solid #39f986;
    box-shadow: 0 4px 12px rgba(89, 13, 204, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avatar:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 18px rgba(89, 13, 204, 0.6);
}
.navbar .nav-link.active {
    color: #eae863 !important;  /* o el color que prefieras para el activo */
}
.navbar-toggler-icon {
    color: white !important; 
}
.avatar-user {
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    background-color: rgba(221, 167, 247, 0.424);
    border-radius: 10px;
    gap: 10px;
}